


a{
    text-decoration: none;
}

body{
    font-family: 'Raleway',sans-serif;
}

.top{
    background-color: rgba(189, 34, 34, 0.671);
    font-size: 14px;
    text-align: center;
    
}
.top a{
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    font-size: 35px;
}
.top a:hover{
   color: gold;
   transition: 0.3s;
   
}
.heade{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.contac{
  
    color: rgb(236, 230, 230);
    
    
}


/* .contac {
    float: left;
    padding: 6px 10px;
} */
.inde  {
    float: right;
    padding: 6px 10px;
}
.right{
    float: right;
}
.free img {
    width: 9rem;
    height: 5rem;
}


/* Info */
.project_container{
    display: flex;
    justify-content: center;
    
    
}
.project{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.project_it{
    width: 62%;
    margin-top: 38px;
}

.project_it h2 p{
   
    margin-bottom: 10px;
}
.project_it img{
    width: 100%;
    height: 50%;
    border-radius: 65%;
}
/************************foter****************************/
.GET{
    background-color: gold;
    display: flex;
    justify-content: space-around;
}
.Call{
    border-radius: 10px;
    width: 100px;
    height: 47px;
   margin-top: 10px;
   
}
.ABOUT{
    width: 200px;
   margin-left: 5rem;
   
}
/*footer{
    background-color: black;
}*/
.CONTACT{
    width: 280px;
    
    
    
}
.fut{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}


.ikn a{
  padding: 1rem;
  
}

/**************написат нам***********************/
.ui-form {
    max-width: 300px;
   /* padding: 80px 30px 30px;
    margin: 50px auto 30px;*/
    
    height: 200px;
 }
 .ui-form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 25px;
    text-align: center;
    color: #4a90e2;
    font-size: 30px;
    font-weight: normal;
 }
 
 .form-row {
    position: relative;
    margin-bottom: 25px;
 }
 .form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #4a90e2;
    transition: all 0.2s ease;
 }
 .form-row label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
 }
 .form-row input:focus {
    outline: 0;
    border-color: #F77A52;
 }
 .form-row input:focus+label, .form-row input:valid+label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
 }
 .ui-form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #4a90e2;
    border-width: 0;
    color: white;
    font-size: 20px;
 }
 .ui-form p {
    margin: 0;
    padding-top: 10px;
 }


/* Поиск */
.Search{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;align-content: space-between;flex-wrap: nowrap;
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(248,35,7,1) 100%);
  
}


/*logo*/
body{
    margin: 0;
    padding: 0;
}



.logo{
    text-align: center;
    color: rgb(7, 8, 8);
    font-size: 1.8rem;
    margin-left: 160px;
    margin-top: -260px;
}

.siti{
    width: 350px;
    height: 350px;
    margin-top: 80px;
    margin-left: 65px;
}
.add{
    justify-content: center;
    margin-top: 100px;
}

.menu{
    margin-bottom: 228px;
    margin-left: 40px;
    border-radius: 55px;
    width: 100px;
    height: 100px;
}

.logo2{
    margin-top: -58px;
    margin-left: 93px;
}

.logo3{
    text-align: center;
    color: rgb(29, 31, 32);
    margin-left: 201px;
    margin-top: -37px;
}




.cnopka{
    background-color: gold;
    width: 150px;
    height: 39px;
    margin-left: 604px;
    margin-top: 40px;
}
.text{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(254, 254, 254);
}

/**/
.logo4{
    background-color: rgb(240, 238, 227);
    width: 150px;
    height: 55px;
    margin-left: 900px;
    margin-top: -101px;
  
}

.ret2{
    margin-top: 20px;
    margin-left: -42px;
}

.ret{
    font-size: 2.2rem;
    font-weight: bold;
}
/**/


.clik{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 0px;
    text-decoration: none;
    color: rgb(0, 6, 11);
}

.logo5{
    background-color: rgb(251, 17, 165);
    width: 150px;
    height: 39px;
    margin-left: 900px;
    margin-top: 11px;
}

.text3{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    text-decoration: none;
    font-size: 0.6rem;
    color: aliceblue;
    margin-left: -23px;
}

.loc{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
    color: #4c4b6c;;
}
